
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
   Error
}
<div class="alert alert-danger">
    Your account does not have access to login
</div>
